.wrap {
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.relative {
    position: relative;
}

.door {
    perspective: 1200px;
}


.door:hover #left {
    transform: rotateY(90deg);
    backface-visibility: hidden;
}

.door:hover #right {
    transform: rotateY(-90deg);
    backface-visibility: hidden;
}

#wrap {
    z-index: 2;
    position: absolute;
    width: 300px;
}


#left {
    top: 54px;
    left: 80px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: left;
    position: absolute;
    transition: transform 0.3s ease-in-out 0.1s;
    width: 75px;
}

#right {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: right;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    width: 75px;
    top: 52px;
    right: 71px;
}
.door:hover #wow {
    opacity: 1;
}
#wow {
    z-index: -1;
    position: absolute;
    top: 130px;
    left: 115px;
    opacity: 0;
    transition: 0.5s;
}